.fullconfig {
    fill: orangered;
    }
.fullconfig {
    background-image: url(fullconfig.png);
    /* This hides bg-image in modern browsers except IE9 */
    background: -webkit-linear-gradient(transparent, transparent);
    background: linear-gradient(transparent, transparent);
    /* This hides bg-image in IE9 */
    background-position: -1000vh 0;
    }
.fullconfig--arrow-up--w143--steelblue {
    width: 143px;
    height: 206px;
    background-position: 0 0;
    fill: steelblue;
    }
.fullconfig--home--w170--teal {
    width: 170px;
    height: 170px;
    background-position: -153px 0;
    fill: teal;
    }
.fullconfig--home--w150 {
    width: 150px;
    height: 150px;
    background-position: -333px 0;
    fill: gold;
    }
.fullconfig--arrow-up--w50 {
    width: 50px;
    height: 72px;
    background-position: 0 -216px;
    fill: blue;
    }
.fullconfig--home--h62--yellowgreen {
    width: 62px;
    height: 62px;
    background-position: -60px -216px;
    fill: yellowgreen;
    }
.fullconfig--arrow-up {
    width: 30px;
    height: 43px;
    background-position: -333px -160px;
    fill: blue;
    }
.fullconfig--arrow-up--green {
    width: 30px;
    height: 43px;
    background-position: -373px -160px;
    fill: green;
    }
.fullconfig--home--hotpink {
    width: 42px;
    height: 42px;
    background-position: -413px -160px;
    fill: hotpink;
    }
.fullconfig--home--ff9900 {
    width: 42px;
    height: 42px;
    background-position: -132px -216px;
    fill: #FF9900;
    }
.fullconfig--home--336699 {
    width: 42px;
    height: 42px;
    background-position: -184px -216px;
    fill: #336699;
    }
.fullconfig--home {
    width: 42px;
    height: 42px;
    background-position: -236px -216px;
    fill: gold;
    }
.fullconfig--remove {
    width: 12px;
    height: 12px;
    background-position: -465px -160px;
    fill: orangered;
    }
