.copyicon {
    fill: skyblue;
    }
.ie8 .copyicon {
    background-image: url(copyicon.png);
    }
.copyicon--arrow-up {
    width: 123px;
    height: 177px;
    background-position: 0 0;
    }
.copyicon--arrow-up--120--orange {
    width: 120px;
    height: 173px;
    background-position: -133px 0;
    fill: orange;
    }
.copyicon--home--100 {
    width: 100px;
    height: 100px;
    background-position: -263px 0;
    }
.copyicon--home {
    width: 78px;
    height: 78px;
    background-position: 0 -187px;
    }
.copyicon--home--70--pink {
    width: 70px;
    height: 70px;
    background-position: -88px -187px;
    fill: pink;
    }
.copyicon--arrow-up--40 {
    width: 40px;
    height: 58px;
    background-position: -263px -110px;
    }
.copyicon--arrow-up--gold {
    width: 30px;
    height: 43px;
    background-position: -313px -110px;
    fill: gold;
    }
.copyicon--home--20--yellow {
    width: 20px;
    height: 20px;
    background-position: -168px -187px;
    fill: yellow;
    }
.copyicon--home--yellowgreen {
    width: 12px;
    height: 12px;
    background-position: -198px -187px;
    fill: yellowgreen;
    }
.copyicon--remove {
    width: 12px;
    height: 12px;
    background-position: -220px -187px;
    }
