.testicon {
    fill: orangered;
    }
.ie8 .testicon {
    background-image: url(testicon.png);
    }
.testicon--arrow-up {
    width: 182px;
    height: 262px;
    background-position: 0 0;
    }
.testicon--arrow-up--150--steelblue {
    width: 150px;
    height: 216px;
    background-position: -192px 0;
    fill: steelblue;
    }
.testicon--home--170--teal {
    width: 170px;
    height: 170px;
    background-position: -352px 0;
    fill: teal;
    }
.testicon--home--150 {
    width: 150px;
    height: 150px;
    background-position: 0 -272px;
    }
.testicon--home {
    width: 78px;
    height: 78px;
    background-position: -352px -180px;
    }
.testicon--arrow-up--50 {
    width: 50px;
    height: 72px;
    background-position: -440px -180px;
    }
.testicon--arrow-up--green {
    width: 30px;
    height: 43px;
    background-position: -160px -272px;
    fill: green;
    }
.testicon--home--20--yellowgreen {
    width: 20px;
    height: 20px;
    background-position: -500px -180px;
    fill: yellowgreen;
    }
.testicon--home--hotpink {
    width: 12px;
    height: 12px;
    background-position: -500px -210px;
    fill: hotpink;
    }
.testicon--remove {
    width: 12px;
    height: 12px;
    background-position: -500px -232px;
    }
