BODY {
    font: 16px/1.4 "Trebuchet MS", Arial, sans-serif;
    }

A {
    color: tomato;
    }

H1 {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #CCC;
    font: 3em/1.4 Georgia, serif;
    text-align: center;
    }

H4 {
    margin-bottom: .4em;
    font: 2em/1.4 Georgia, serif;
    color: steelblue;
    }

H5 {
    font-size: 1em;
    font-weight: normal;
    }

P {
    margin: 1.5rem 0;
    }
UL {
    padding: 0;
    }
LI {
    list-style: none;
    }

.wrapper {
    width: 650px;
    margin: 4rem auto;
    }

TEXTAREA {
    width: 100%;
    height: 200px;
    margin: 0 0 1em 0;
    border: 1px solid #CCC;
    border-radius: 10px;
    }

CODE {
    padding: 0 7px;
    background: palegoldenrod;
    border-radius: 5px;
    text-shadow: 1px 1px 0 white;
    font: 14px/1 monospace;
    color: #6a6315;
    }

CODE I {
    font-style: italic;
    color: black;
    }

.svg-defs {
    display: none;
    }
.icons-list__item {
    padding: 1em 0;
    border-bottom: 1px solid #DDD;
    }
    .icons-list__item:after {
        content: "";
        display: table;
        clear: both;
        width: 100%;
        }
.icons-list__title {
    display: inline-block;
    margin: 0;
    }

.svg-icon {
    float: right;
    width: 2em;
    height: 2em;
    }
