BODY {
    font: 16px/1.4 "Trebuchet MS", Arial, sans-serif;
    }

A {
    color: tomato;
    }

H1 {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #CCC;
    font: 3em/1.4 Georgia, serif;
    text-align: center;
    }

H4 {
    margin-bottom: .4em;
    font: 2em/1.4 Georgia, serif;
    color: steelblue;
    }

H5 {
    font-size: 1em;
    font-weight: normal;
    }

P {
    margin: 1.5rem 0;
    }
UL {
    padding: 0;
    }
LI {
    list-style: none;
    }

.wrapper {
    width: 650px;
    margin: 4rem auto;
    }

.svg-defs {
    display: none;
    }
.color {
    display: inline-block;
    width: 50px;
    height: 1.2em;
    vertical-align: top;
    border: 2px solid #DDD;
    }
.sizes {
    padding: 0 3px;
    background: #DDD;
    font-size: .9em;
    }
.icons-list__item {
    padding: 1em 0;
    border-bottom: 2px solid #DDD;
    }
    .icons-list__item:after {
        content: "";
        display: table;
        clear: both;
        width: 100%;
        }
.icons-list__title {
    display: inline-block;
    margin: 0;
    }

.ie8 USE {
    display: none;
    }

.demo-icon {
    position: relative;
    display: block;
    float: right;
    border: 1px solid #DDD;
    }
    .demo-icon--svg {
        margin-right: 3em;
        }
    .demo-icon:before {
        display: block;
        position: absolute;
        left: -2.65em;
        top: -1.44em;
        padding: 0 5px;
        font-size: 0.8em;
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        }
        .demo-icon--svg:before {
            content: "SVG";
            background: yellowgreen;
        }
        .demo-icon--png:before {
            content: "PNG";
            background: skyblue;
        }
