.ie8 .{{prefix}} {
    background-image: url({{{spriteurl}}});
    }

{{#icons}}
.{{prefix}}--{{name}} {
    width: {{width}};
    height: {{height}};
    background-position: {{x}} {{y}};
    }
{{/icons}}