.defaultsandcolor {
    display: inline-block;
    background-image: url(defaultsandcolor.png);
    /* This hides bg-image in modern browsers except IE9 */
    background: -webkit-linear-gradient(transparent, transparent);
    background: linear-gradient(transparent, transparent);
    /* This hides bg-image in IE9 */
    background-position: -1000vh 0 !important;
    fill: yellowgreen;
    }
.defaultsandcolor--arrow-up {
    width: 30px;
    height: 43px;
    background-position: -73px 0;
    fill: yellow;
    }
.defaultsandcolor--home {
    width: 63px;
    height: 63px;
    background-position: 0 0;
    fill: yellowgreen;
    }
.defaultsandcolor--remove {
    width: 12px;
    height: 12px;
    background-position: 0 -73px;
    fill: yellowgreen;
    }
