.defaultsandcolor {
    fill: yellowgreen;
    }
.ie8 .defaultsandcolor {
    background-image: url(defaultsandcolor.png);
    }
.defaultsandcolor--home {
    width: 63px;
    height: 63px;
    background-position: 0 0;
    fill: yellowgreen;
    }
.defaultsandcolor--arrow-up {
    width: 30px;
    height: 43px;
    background-position: -73px 0;
    fill: yellow;
    }
.defaultsandcolor--remove {
    width: 12px;
    height: 12px;
    background-position: 0 -73px;
    fill: yellowgreen;
    }
